In [2]:
import numpy as np
import os
import pandas as pd
import matplotlib as mpl
from matplotlib import pyplot as plt
import seaborn as sns
sns.set()

import netCDF4
import time
import xarray

In [5]:
phil = pd.read_pickle(os.path.join('..','deconstruct_cyn','phil_cyclones.pkl'))

In [6]:
phil_noindex = pd.read_pickle(os.path.join('..','deconstruct_cyn','phil_cyclones_noindex.pkl'))

In [8]:
phil.shape

(14999, 16)

In [9]:
phil_noindex.shape

(14999, 13)

In [10]:
phil_noindex

,storm_sn,name,time_recorded,landfall,genesis_basin,season,lat,lon,max_wind,min_pres,dist2land,z,phil_box
2637339,b'1884231N11128',b'NOT NAMED',1884-08-20 12:00:00,33.0,2,1884,16.70,120.05,NaN,NaN,33.0,-391.0,True
2641912,b'1884343N14124',b'NOT NAMED',1884-12-07 18:00:00,11.0,2,1884,14.10,124.25,NaN,NaN,11.0,-3.0,True
2645544,b'1885115N11127',b'NOT NAMED',1885-04-25 12:00:00,0.0,2,1885,10.75,123.35,NaN,NaN,0.0,178.0,True
2666363,b'1887180N10126',b'NOT NAMED',1887-06-29 12:00:00,0.0,2,1887,11.20,122.70,NaN,NaN,0.0,125.0,True
2705338,b'1890289N12124',b'NOT NAMED',1890-10-19 18:00:00,112.0,2,1890,15.10,118.90,NaN,NaN,112.0,-4623.0,True
2713346,b'1891263N17124',b'NOT NAMED',1891-09-20 06:00:00,77.0,2,1891,17.30,123.55,NaN,NaN,121.0,-4881.0,True
2713348,b'1891263N17124',b'NOT NAMED',1891-09-20 18:00:00,11.0,2,1891,18.50,122.20,NaN,NaN,11.0,33.0,True
2717357,b'1891320N13125',b'NOT NAMED',1891-11-15 18:00:00,0.0,2,1891,13.30,124.55,NaN,NaN,39.0,-1391.0,True
2754994,b'1895131N11127',b'NOT NAMED',1895-05-13 06:00:00,0.0,2,1895,16.20,121.50,NaN,NaN,0.0,734.0,True
2754996,b'1895131N11127',b'NOT NAMED',1895-05-13 18:00:00,54.0,2,1895,17.60,122.80,NaN,NaN,54.0,-3658.0,True
2764535,b'1896132N11121',b'NOT NAMED',1896-05-11 12:00:00,0.0,2,1896,11.20,120.05,NaN,NaN,55.0,-2.0,True
2764558,b'1896132N11121',b'NOT NAMED',1896-05-17 06:00:00,0.0,2,1896,17.05,119.45,NaN,NaN,99.0,-2746.0,True
2765680,b'1896188N17123',b'NOT NAMED',1896-07-05 18:00:00,0.0,2,1896,16.80,123.20,NaN,NaN,75.0,-4649.0,True
2770652,b'1896282N15125',b'NOT NAMED',1896-10-09 18:00:00,0.0,2,1896,17.10,120.80,NaN,NaN,0.0,794.0,True
2770655,b'1896282N15125',b'NOT NAMED',1896-10-10 12:00:00,139.0,2,1896,18.25,119.15,NaN,NaN,139.0,-4151.0,True
2792232,b'1898297N15123',b'NOT NAMED',1898-10-24 12:00:00,0.0,2,1898,15.50,121.85,NaN,NaN,30.0,-2615.0,True
2793375,b'1898315N15123',b'NOT NAMED',1898-11-10 18:00:00,84.0,2,1898,14.90,123.35,NaN,NaN,95.0,-1071.0,True
2812096,b'1900309N11128',b'NOT NAMED',1900-11-05 12:00:00,0.0,2,1900,11.50,126.00,NaN,NaN,45.0,-4616.0,True
2815540,b'1901135N11127',b'NOT NAMED',1901-05-17 00:00:00,34.0,2,1901,13.25,120.00,NaN,NaN,39.0,-2801.0,True
2826997,b'1902205N14129',b'NOT NAMED',1902-07-25 06:00:00,106.0,2,1902,15.65,123.95,NaN,NaN,179.0,-3593.0,True
2843613,b'1903291N17126',b'NOT NAMED',1903-10-19 12:00:00,22.0,2,1903,18.55,122.75,NaN,NaN,47.0,-4219.0,True
2844568,b'1903309N10134',b'NOT NAMED',1903-11-06 00:00:00,0.0,2,1903,11.95,125.10,NaN,NaN,0.0,233.0,True
2874551,b'1906300N16124',b'NOT NAMED',1906-10-27 12:00:00,0.0,2,1906,17.00,122.60,NaN,NaN,10.0,-704.0,True
2883152,b'1907218N16126',b'NOT NAMED',1907-08-07 12:00:00,203.0,2,1907,17.35,118.15,NaN,NaN,203.0,-3622.0,True
2897663,b'1908282N15128',b'NOT NAMED',1908-10-08 06:00:00,140.0,2,1908,15.65,124.30,NaN,NaN,190.0,-3652.0,True
2899199,b'1908318N10128',b'NOT NAMED',1908-11-15 06:00:00,22.0,2,1908,14.40,122.70,NaN,NaN,22.0,-2.0,True
2899584,b'1908338N07140',b'NOT NAMED',1908-12-06 00:00:00,75.0,2,1908,14.00,119.95,NaN,NaN,75.0,-1540.0,True
2930134,b'1911112N09133',b'NOT NAMED',1911-04-22 12:00:00,0.0,2,1911,12.40,125.20,NaN,NaN,0.0,103.0,True
2932238,b'1911203N16117',b'NOT NAMED',1911-07-23 06:00:00,298.0,2,1911,17.90,117.50,NaN,NaN,298.0,-3948.0,True
2932439,b'1911209N16136',b'NOT NAMED',1911-07-31 18:00:00,0.0,2,1911,18.10,122.00,NaN,NaN,0.0,410.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54021511,b'2015344N07145',b'MELOR',2015-12-16 12:00:00,82.0,2,2015,14.70,119.40,40.0,992.0,86.0,-2514.0,True
54021512,b'2015344N07145',b'MELOR',2015-12-16 18:00:00,76.0,2,2015,14.00,119.30,25.0,1002.0,78.0,-3985.0,True
54028939,b'2016212N12127',b'NIDA',2016-07-30 18:00:00,85.0,2,2016,16.70,123.80,45.0,986.0,150.0,-4038.0,True
54028940,b'2016212N12127',b'NIDA',2016-07-31 00:00:00,10.0,2,2016,17.30,123.40,50.0,982.0,85.0,-5078.0,True
54028941,b'2016212N12127',b'NIDA',2016-07-31 06:00:00,0.0,2,2016,18.10,122.20,50.0,982.0,10.0,-91.0,True
54028942,b'2016212N12127',b'NIDA',2016-07-31 12:00:00,22.0,2,2016,18.80,121.20,60.0,976.0,33.0,-260.0,True
54037156,b'2016287N13130',b'SARIKA',2016-10-15 00:00:00,39.0,2,2016,14.30,124.40,70.0,965.0,39.0,-985.0,True
54037157,b'2016287N13130',b'SARIKA',2016-10-15 06:00:00,81.0,2,2016,14.70,123.90,80.0,955.0,81.0,-120.0,True
54037158,b'2016287N13130',b'SARIKA',2016-10-15 12:00:00,21.0,2,2016,15.20,123.00,90.0,945.0,112.0,-2379.0,True
54037159,b'2016287N13130',b'SARIKA',2016-10-15 18:00:00,0.0,2,2016,15.70,121.80,100.0,935.0,21.0,-1822.0,True
54037160,b'2016287N13130',b'SARIKA',2016-10-16 00:00:00,0.0,2,2016,16.20,119.70,80.0,955.0,0.0,-1407.0,True
54037161,b'2016287N13130',b'SARIKA',2016-10-16 06:00:00,159.0,2,2016,16.50,118.30,75.0,960.0,159.0,-3893.0,True
54037359,b'2016288N07145',b'HAIMA',2016-10-19 12:00:00,0.0,2,2016,17.30,123.20,105.0,930.0,81.0,-3593.0,True
54037360,b'2016288N07145',b'HAIMA',2016-10-19 18:00:00,0.0,2,2016,17.70,121.60,90.0,945.0,0.0,42.0,True
54037361,b'2016288N07145',b'HAIMA',2016-10-20 00:00:00,42.0,2,2016,18.50,120.10,80.0,955.0,42.0,-3255.0,True
54039061,b'2016328N09130',b'TOKAGE',2016-11-24 06:00:00,0.0,2,2016,9.70,126.70,25.0,1002.0,70.0,-6807.0,True
54039062,b'2016328N09130',b'TOKAGE',2016-11-24 12:00:00,0.0,2,2016,10.60,125.40,30.0,1000.0,0.0,-11.0,True
54039063,b'2016328N09130',b'TOKAGE',2016-11-24 18:00:00,0.0,2,2016,11.20,123.60,30.0,1000.0,22.0,-4.0,True
54039064,b'2016328N09130',b'TOKAGE',2016-11-25 00:00:00,0.0,2,2016,11.30,122.50,35.0,998.0,0.0,80.0,True
54039065,b'2016328N09130',b'TOKAGE',2016-11-25 06:00:00,62.0,2,2016,11.40,121.00,35.0,998.0,64.0,-151.0,True
54039066,b'2016328N09130',b'TOKAGE',2016-11-25 12:00:00,62.0,2,2016,11.80,120.40,35.0,998.0,62.0,-83.0,True
54039067,b'2016328N09130',b'TOKAGE',2016-11-25 18:00:00,89.0,2,2016,12.40,120.10,40.0,994.0,89.0,-21.0,True
54039074,b'2016328N09130',b'TOKAGE',2016-11-27 12:00:00,168.0,2,2016,16.60,118.20,45.0,990.0,169.0,-4100.0,True
54039075,b'2016328N09130',b'TOKAGE',2016-11-27 18:00:00,154.0,2,2016,16.90,118.40,35.0,998.0,164.0,-4016.0,True
54039076,b'2016328N09130',b'TOKAGE',2016-11-28 00:00:00,NaN,2,2016,17.20,118.60,25.0,1002.0,154.0,-2490.0,True
54040224,b'2016355N07146',b'NOCK-TEN',2016-12-25 06:00:00,0.0,2,2016,13.50,125.10,115.0,920.0,78.0,-3150.0,True
54040225,b'2016355N07146',b'NOCK-TEN',2016-12-25 12:00:00,0.0,2,2016,13.50,124.00,110.0,925.0,15.0,-654.0,True
54040226,b'2016355N07146',b'NOCK-TEN',2016-12-25 18:00:00,0.0,2,2016,13.50,122.80,95.0,940.0,10.0,-285.0,True
54040227,b'2016355N07146',b'NOCK-TEN',2016-12-26 00:00:00,0.0,2,2016,13.50,121.50,85.0,950.0,15.0,-437.0,True
54040228,b'2016355N07146',b'NOCK-TEN',2016-12-26 06:00:00,75.0,2,2016,14.00,119.80,75.0,960.0,75.0,-2634.0,True

In [27]:
wmo_phil = phil[phil.center == '19']

In [33]:
wmo_phil_landfall = wmo_phil[wmo_phil.z >= 0]

In [35]:
wmo_phil_landfall.storm_sn.value_counts()

b'1976131N12142'    9
b'1955329N10129'    7
b'1979271N13113'    6
b'1993271N14134'    6
b'1966299N10137'    6
b'1973320N05142'    6
b'1966321N09138'    6
b'2009270N10148'    6
b'1984239N08146'    5
b'2015285N14151'    4
b'1977194N07142'    4
b'1952180N05144'    4
b'1957309N11161'    4
b'1960173N08137'    4
b'1979300N04166'    4
b'2014334N02156'    4
b'1991289N06156'    4
b'1991187N06139'    4
b'1991163N11128'    4
b'1970286N06143'    4
b'1966130N06139'    4
b'1964344N06153'    4
b'1999288N12129'    4
b'1998259N17118'    4
b'1956187N12126'    4
b'2008169N08135'    4
b'1960112N09127'    4
b'1972004N10142'    3
b'1980296N05165'    3
b'2011282N08136'    3
                   ..
b'2015183N13130'    1
b'1978262N14135'    1
b'2012331N03157'    1
b'1970190N12140'    1
b'1969187N09131'    1
b'1952245N09139'    1
b'1994345N06165'    1
b'1972187N11126'    1
b'1953172N08142'    1
b'1982073N07153'    1
b'1953299N09138'    1
b'2013210N13122'    1
b'2013220N12137'    1
b'1971218N08161'    1
b'1981317N14153'    1
b'1982283N16148'    1
b'2009299N12153'    1
b'1993164N04160'    1
b'2011205N12130'    1
b'1992194N07140'    1
b'2014254N10142'    1
b'1996227N08156'    1
b'1990163N08133'    1
b'1982325N08176'    1
b'1974315N09135'    1
b'2011270N18139'    1
b'1951239N11144'    1
b'2003226N07156'    1
b'1964291N11143'    1
b'1956329N09136'    1
Name: storm_sn, Length: 344, dtype: int64

In [45]:
wmo_phil_landfall.groupby('season')['z'].count()

season
1951     9
1952    18
1953     7
1954    12
1955     9
1956    15
1957    13
1958     2
1959     8
1960    13
1961     3
1962     8
1963     7
1964    18
1965     4
1966    17
1967     9
1968     8
1969     6
1970    20
1971    23
1972    12
1973    11
1974    18
1975     6
1976    14
1977     8
1978    12
1979    19
1980    13
        ..
1986    12
1987     9
1988     5
1989    10
1990     6
1991    22
1992     3
1993    19
1994     8
1995     6
1996     7
1997     3
1998    13
1999    12
2000     9
2001     7
2003     8
2004     7
2005     4
2006    14
2007     7
2008    10
2009    13
2010     4
2011     9
2012     4
2013    12
2014    12
2015    14
2016     4
Name: z, Length: 65, dtype: int64